@font-face {
  font-family: 'iconfont';
  src        : url('./iconfont/iconfont.eot');
  src        : url('./iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./iconfont/iconfont.woff2') format('woff2'),
    url('./iconfont/iconfont.woff') format('woff'),
    url('./iconfont/iconfont.ttf') format('truetype'),
    url('./iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family            : "iconfont" !important;
  font-size              : 16px;
  font-style             : normal;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 使用 <i class="iconfont icontuxing"></i> */
.iconsousuo:before {
  content: "\e633";
}

.iconjiantou:before {
  content: "\e64a";
}

.iconjiantou-copy:before {
  content: "\e667";
}

.iconai203:before {
  content: "\e6bf";
}

.icontuxing:before {
  content: "\e61f";
}

.iconhome:before {
  content: "\e69b";
}

.iconguarantee:before {
  content: "\e69c";
}

.iconprevent:before {
  content: "\e69d";
}